/*========== fonts ==========*/

//@import "compass/css3/font-face";

//@include font-face("OpenSansBold", font-files("OpenSansBold/OpenSansBold.woff", "OpenSansBold/OpenSansBold.ttf", "OpenSansBold/OpenSansBold.ttf"), "OpenSansBold/OpenSansBold.eot");
//@include font-face("OpenSansSemiBold", font-files("OpenSansSemiBold/OpenSansSemiBold.woff", "OpenSansSemiBold/OpenSansSemiBold.ttf", "OpenSansSemiBold/OpenSansSemiBold.ttf"), "OpenSansSemiBold/OpenSansSemiBold.eot");

@font-face{
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans/eot/OpenSans-Bold.eot');
    src: local('Open Sans Bold'),
         url('../fonts/OpenSans/eot/OpenSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/OpenSans/woff/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans/ttf/OpenSans-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans/eot/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'),
         url('../fonts/OpenSans/eot/OpenSans-SemiBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSans/woff/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans/ttf/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans/eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('../fonts/FiraSans/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('../fonts/FiraSans/woff/FiraSans-Light.woff') format('woff'),
         url('../fonts/FiraSans/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans/eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('../fonts/FiraSans/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/FiraSans/woff/FiraSans-Regular.woff') format('woff'),
         url('../fonts/FiraSans/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans/eot/FiraSans-SemiBold.eot');
    src: local('Fira Sans SemiBold'),
         url('../fonts/FiraSans/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
         url('../fonts/FiraSans/woff/FiraSans-SemiBold.woff') format('woff'),
         url('../fonts/FiraSans/ttf/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
