/*-------------career-----------------*/

.career__content {
  margin-top: 1.15rem;
  @include breakpoint( $max-phone ){ margin-top: 10px; }
}

.career__left {
  @include span(4);
  @include breakpoint( 481px 670px ){
    text-align: center;
    @include span(12);
  }
  @include breakpoint( $max-phone ){
    @include span(12);
    text-align: center;
  }
}

.career__right {
  text-align: right;
  @include span(8 last);
  @include breakpoint( 481px 670px ){ @include span(12); }

  @include breakpoint( $max-phone ){ @include span(12); }
}

.career__detail {
  margin-bottom: 5%;
}

.career-img {
  @include border-radius(9px);
  border: none;
  max-width: 100%;
  width: rem(220px);
  height: rem(220px);
  @include breakpoint( $max-laptop ){
    width: rem(228px);
    height: rem(228px);
  }
  @include breakpoint( $max-phone ){
    width: 220px;
    height: 220px;
  }
}

.timeline__items {
  @include clearfix;
}

.timeline__link {
  text-decoration: none;
  color: $text;
  display: block;
}

.timeline__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 100%;
  margin-bottom: 20px;

  &:last-child { margin-bottom: 3px }

  &:first-child .work:before { display: none; }
  &:last-child  .work:after { display: none; }

  &.active .work{
    color: #fff;
    background-color: $primary;
  }
  &.active .work__year {
    font-size: 18px;
    font-family: "FiraSansBold",  sans-serif;
    color: $primary;
  }

  &.active .work__year:after {
     border: 5px solid #94e0f2;
  }

}

.time {
  vertical-align: middle;
  @include fira('light');
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
}


.work {
  text-align: left;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  @include border-radius(10px);
  @include box-shadow(rgba(#000, 0.2) 0 1px 3px 0);
  background: #fff;
  padding: 14px 20px;
  width: 73%;
  @include breakpoint( $max-laptop ){ width: 66% }
  @include breakpoint( $max-phone ){
    display: block;
    width: auto;
  }


  &:before,
  &:after {
    content: '';
    display: block;
    left: -20px;
    width: 1px;
    position: absolute;
    background-color: #dddddd;
  }

  &:before {
    top: 0;
    bottom: 50%;
    margin-bottom: 10px;
    @include breakpoint( $max-phone ){ display: none }
  }

  &:after {
    bottom: -20px;
    top: 50%;
    margin-top: 10px;
    @include breakpoint( $max-phone ){ display: none }
    }
}

.work__org {
  font-size: 21px;
  margin: 0;
  @include breakpoint( $max-phone ){ font-size: 18px; }
}

.work__position,
.work__range {
  @include fira('light');
  font-size: $base-font-size;
  @include breakpoint( $max-phone ){
    font-size: 16px;
  }
}

.work__year {
  font-size: 14px;
  @include fira('light');
  position: absolute;
  right: 100%;
  top: 50%;
  line-height: 20px;
  margin-top: -10px;
  font-weight: 100;
  margin-right: 34px;
  text-align: right;
  @include breakpoint( $max-phone ){ display: none }

  &:after {
    content: '';
    position: absolute;
    right: -24px;
    top: 50%;
    margin-top: -10px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: $primary;
    border: 5px solid #f6f6f6;
    z-index: 1;
    @include breakpoint( $max-phone ){ display: none }
  }

}
